:root {
    background-color: #1f1f1f;
    color: #d3d3d3;
    font-family: sans-serif;
}

h1 {
    font-size: 3rem;
}

h1,
h2 {
    text-align: center;
}

#questionaire {
    height: 80svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    & button {
        padding: 0.5rem;
        border-radius: 0.5rem;
        background-color: rgb(19, 192, 178);
        color: #ffffff;
        margin-top: 1rem;
        padding: 1rem 2rem;
        border: none;
        outline: none;
        font-weight: bold;
    }

    & button:hover {
        background-color: rgb(28, 143, 133);
        cursor: pointer;
    }
}

#players {
    display: flex;

    gap: 4rem
}

h3+input {
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem;
}


#tictactoe-container {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    width: 40svh;
    height: 40svh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;

    >.box {
        box-sizing: border-box;
        background-color: rgb(28, 143, 133);
        display: flex;
        font-size: 3.5rem;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;
        cursor: pointer;
        color: white;
    }
}

main {
    display: none;

    >button {
        display: none;
        margin: auto;
        padding: 1.5rem 2rem;
        border: none;
        border-radius: 1rem;
        background-color: rgb(28, 143, 133);
        color: white;
        font-weight: bolder;
    }

    >h1 {
        display: none;
    }

    >div:nth-child(2) {
        display: flex;
        justify-content: center;
        gap: 2.5rem;
        margin-top: 2rem;

        >div {
            display: flex;
            flex-direction: column;
            align-items: center;

            >p {
                background-color: rgb(28, 143, 133);
                font-size: 2rem;
                padding: 1.5rem 2rem;
                border-radius: 1rem;
                margin-top: 0;
                color: white;

            }
        }
    }
}